@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 3rem;
}

h1 {
  margin-bottom: 20px;
}

body,
button,
input {
  font-size: 1.5rem;
  text-align: justify;
}

button,
input {
  padding: 10px;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  font-weight: 500;
  color: whitesmoke;
  background: #da0037;
  margin-left: 10px;
}
